*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    display: grid;
    place-items: center;
    height: 100vh;
}

h1{
    font-size: 3.2em;
    text-align: center;
    margin-right: -0.8rem;
}

h1 span {
    background-image: linear-gradient(to right, #fff, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: -0.8rem;
}

/* YouTube Style */
.the-blood-coders__learn-it-btn,
.the-blood-coders__learn-it-btn:link,
.the-blood-coders__learn-it-btn:active,
.the-blood-coders__learn-it-btn:visited {
  padding: 0.5rem 2rem;
  background-color: #ff0000;
  position: absolute;
  bottom: 2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.the-blood-coders__learn-it-btn:active {
  -webkit-box-shadow: 0 0 0rem rgba(0, 0, 0, 0);
          box-shadow: 0 0 0rem rgba(0, 0, 0, 0);
  -webkit-transform: translateX(-50%) scale(0.99);
          transform: translateX(-50%) scale(0.99);
}

.the-blood-coders__btn-icon {
  font-size: 1.6em;
  margin-right: 0.5rem;
}

.the-blood-coders__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.the-blood-coders__popup {
  width: 18rem;
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.the-blood-coders__popup-header,
.the-blood-coders__popup-header:link,
.the-blood-coders__popup-header:visited {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: -2.6rem;
  margin-bottom: 2rem;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#e90606), to(#ff4a4a));
  background-image: linear-gradient(to right top, #e90606, #ff4a4a);
  color: #f1f1f1;
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1px;
  -webkit-transform: skew(-10deg) rotate(-3deg);
          transform: skew(-10deg) rotate(-3deg);
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.the-blood-coders__code-name {
  font-size: 1.2em;
  margin-bottom: 1rem;
}

.the-blood-coders__code-name--span {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#400164), to(#9c27e0));
  background-image: linear-gradient(to right top, #400164, #9c27e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.the-blood-coders__link {
  word-break: break-all;
  line-height: 1.4;
  display: block;
  color: #1d1dfa;
  margin-bottom: 1.2rem;
}

.the-blood-coders__ok-btn,
.the-blood-coders__ok-btn:link,
.the-blood-coders__ok-btn:active,
.the-blood-coders__ok-btn:visited {
  text-transform: uppercase;
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#400164), to(#9c27e0));
  background-image: linear-gradient(to right, #400164, #9c27e0);
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: skew(-10deg) rotate(-3deg);
          transform: skew(-10deg) rotate(-3deg);
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}