* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-image: url(mountain.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

.card{
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    height: 350px;
    width: 250px;
    margin-right: 3rem;
}

.card:hover .gradient{
    opacity: 1;
}

.gradient{
    position: absolute;
    background-image: linear-gradient(0deg, #e90606, transparent);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
    margin-top: 3rem;
}

.text{
    color: rgb(211, 211, 211);
}

.time{
    position: absolute;
    bottom: 0;
    padding: 2rem;
}

.title{
    font-size: 2.2em;
    font-weight: 700;
}